<div class="row">
	<div class="col s6 m4">
		<a href="/admin/users" title="View Users">
			<div class="card center-align blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{ data.users }}</span>
					<p>Number of Users</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col s6 m4">
		<a href="/admin/reports" title="View Water Reports">
			<div class="card center-align blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{ data.reports }}</span>
					<p>Number of Water Reports</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col s6 m4">
		<div class="card center-align blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{ data.qualityReports }}</span>
				<p>Number of Quality Reports</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s6 m4">
		<a href="/admin/users/banned" title="View Banned Users">
			<div class="card center-align blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{ data.banned }}</span>
					<p>Banned Users</p>
				</div>
			</div>
		</a>
	</div>
</div>