<nav class="blue lighten-1" style="margin-bottom:20px;">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Water</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{{#ifAdmin user}}
			<li><a href="/admin" title="Admin">Admin</a></li>
			{{/ifAdmin}}
			{{!-- {{#ifManager user}}
			<li><a href="/manager" title="Manager">Manager</a></li>
			{{/ifManager}} --}}
			{{#unless user}}
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
			{{ else }}
			<li><a href="/logout">Logout</a></li>
			{{/unless}}
		</ul>
	</div>
</nav>