<div class="row">
	<div class="col s12 m12">
		<div class="card white">
			<div class="card-content blue-text">
				<div id="map" style="height: 600px;"></div>
				<script>
					var map;
					var loc = {
						lat: -34.397,
						lng: 150.644
					};
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: loc,
							zoom: 12
						});

						map.addListener('dragend', function() {
							loadReports();
						});

						if (navigator.geolocation) {
							navigator.geolocation.getCurrentPosition(function(position) {
								var pos = {
									lat: position.coords.latitude,
									lng: position.coords.longitude
								};
								loc = {
									lat: position.coords.latitude,
									lng: position.coords.longitude
								};
								map.setCenter(pos);
								loadReports();
							}, function() {
								console.log('An error has occurred');
							});
						} else {
							loadReports();
						}
					}

					function loadReports() {
						var queryParams = '?lat=' + loc.lat + '&long=' + loc.lng;
						$.ajax({
							url: '/api/reports/location' + queryParams,
							success: function(body) {
								if (body.status === 'success') {
									for (var i = 0; i < body.reports.length; i++) {
										var report = body.reports[i];
										new google.maps.Marker({
											position: {
												lat: Number(report.latitude),
												lng: Number(report.longitude)
											},
											map: map
										});
										generateReportHTML(body.reports);
									}
								} else {
									console.error('An unexpected error has occurred loading reports');
									alert('An unexpected error has occurred loading reports');
								}
							},
							error: function(body) {
								console.error(body);
								alert('An unexpected error has occurred loading reports');
							}
						});
					}

					function generateReportHTML(reports) {
						$('.card-content .reportsContainer > .preloader-wrapper').hide();
						$('.card-content .reportsContainer > .data-container').show();
						let $body = $('.card-content .reportsContainer > .data-container table tbody');
						$body.html('');
						for (var i = 0; i < reports.length; i++) {
							var report = reports[i];
							var row = '<tr class="clickable-row" data-href="/reports/[[id]]/"><td>[[id]]</td><td>[[type]]</td><td>[[condition]]</td><td>[[latitude]]</td><td>[[longitude]]</td></tr>';
							row = row.replace('[[id]]', report.id);
							row = row.replace('[[id]]', report.id);
							row = row.replace('[[type]]', report.type);
							row = row.replace('[[condition]]', report.condition);
							row = row.replace('[[latitude]]', report.latitude);
							row = row.replace('[[longitude]]', report.longitude);
							$body.append(row);
						}
						$('.clickable-row').on('click', function() {
							window.location = $(this).data('href');
						});
					}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1nBw64laQoFbrEcjNvm-mLcSCZtSi2BI&callback=initMap" async defer></script>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<div class="card white">
			<div class="card-content blue-text">
				<span class="card-title blue-text">Water Reports</span>
				<div class="row center-align reportsContainer">
					<div class="preloader-wrapper small active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
					<div class="data-container" style="display:none;padding:0 20px;">
						<table class="highlight">
							<thead>
								<tr class="grey-text text-darken-2">
									<th>ID</th>
									<th>Type</th>
									<th>Condition</th>
									<th>Longitude</th>
									<th>Latitude</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>